.FormLancamento {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .FormLancamento h1 {
    text-align: center;
    color: #333;
  }
  
  .FormLancamento form {
    display: flex;
    flex-direction: column;
  }
  
  .FormLancamento label {
    margin-bottom: 10px;
  }
  
  .FormLancamento label > span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .FormLancamento input[type="number"],
  .FormLancamento input[type="date"],
  .FormLancamento select,
  .FormLancamento textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .FormLancamento button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .FormLancamento button[type="button"] {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .FormLancamento button[type="button"]:last-child {
    margin-right: 0;
  }
  
  .FormLancamento button[type="submit"] {
    background-color: #5cb85c;
    color: white;
  }
  
  .FormLancamento button[type="submit"]:hover {
    background-color: #4cae4c;
  }
  
  .FormLancamento button[type="button"]:hover {
    background-color: #e6e6e6;
  }
  