.conta-tree-item {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  position: relative;
  font-size: 1.3em; /* Aumenta o tamanho do ícone */
}

.conta-tree-item:hover {
  background-color: #dfd7b6;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto; /* Empurra o contêiner de ícones para a direita */
}

.saldo-field{
  margin-left: 4px;
  color: #6a7884;
  font-size: 0.7em; 
}

/* Esconde o container de ícones quando não está com o mouse em cima */
.conta-tree-item .icon-container {
  display: none;
}

/* Exibe o container de ícones apenas quando o item da árvore está com o mouse em cima */
.conta-tree-item:hover .icon-container {
  display: flex;
}

.icon-tree-dots, .icon-tree-addFilha {
  cursor: pointer;
  color: #97a6b3;
  
}

.icon-tree-dots:hover, .icon-tree-addFilha:hover {
  color: #ecb80c;
}

.conta-tree-children {
  margin-left: 10px;
}


/* Estilos existentes permanecem os mesmos */

.menu-dropdown {
  position: absolute;
  right: 0; /* Posiciona o menu à direita do ícone de três pontos */
  top: 100%; /* Posiciona o menu logo abaixo do item da árvore */
  background-color: white; /* Define a cor de fundo do menu dropdown */
  border: 1px solid #ddd; /* Define uma borda para o menu dropdown */
  border-radius: 4px; /* Arredonda os cantos do menu dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para um efeito elevado */
  z-index: 100; /* Garante que o menu fique acima de outros elementos */
  width: max-content; /* O menu terá o tamanho do seu conteúdo */
}

.menu-item {
  padding: 8px 12px; /* Espaçamento interno para os itens do menu */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  display: flex; /* Utiliza flex para alinhar ícones e texto */
  align-items: center; /* Centraliza os itens na vertical */
  gap: 8px; /* Espaço entre ícones e texto */
  color: #6a7884;
}

.menu-item:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  color: #ecb80c;
}

/* Quando não estiver com o mouse em cima do item, o menu dropdown não será exibido */
.conta-tree-item:not(:hover) .menu-dropdown {
  display: none;
}



