  .conta-tree-view {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    /* width: 300px; Removido para evitar transbordamento */
    max-width: 100%; /* Isso assegura que .conta-tree-view não seja maior que seu contêiner */
  }
  
  .add-conta-button {
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #0052cc;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .add-conta-button:hover {
    background-color: #003d99;
  }
  
  .add-conta-button:active {
    background-color: #002766;
  }
  