/* Home.css */
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .top-menu {
    display: flex;
    background-color: #333; /* Cor de fundo escura */
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .top-menu h2 {
    color: #fff; /* Texto claro para contraste */
    margin-right: 2rem; /* Espaço entre o título do menu e os itens */
    font-size: 1.5rem; /* Tamanho da fonte do título */
  }
  
  .top-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .top-menu li {
    padding: 0.5rem 1rem;
    color: #fff; /* Texto claro para contraste */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para hover */
  }
  
  .top-menu li:hover {
    background-color: #555; /* Mudança de fundo ao passar o mouse */
  }
  
  /* Resto do seu CSS */
  .content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
  }
  

  