/* Estilo para a tabela de contas */
.conta-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.conta-table thead {
    background-color: #f7f7f7;
}

.conta-table th, .conta-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
}

.conta-table th {
    font-weight: bold;
}

.conta-table tbody tr:hover {
    background-color: #f0f0f0;
}

.conta-table .checkbox-cell {
    text-align: center;
}

.conta-table .checkbox-cell input[type="checkbox"] {
    margin-left: auto;
    margin-right: auto;
    cursor: default; /* Evita que o cursor se torne um ponteiro como se fosse clicável */
}

.icon-edit {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    color: #91b1eb;

    transition: color 0.2s;
}

.icon-edit:hover {
    color: #007bff; /* Cor quando passa o mouse por cima. */
}

.icon-remove {
    cursor: pointer;
    font-size: 20px;
    color: #cd8f97;

    transition: color 0.2s;
}

.icon-remove:hover {
    color: #e74c3c; /* Cor quando passa o mouse por cima. */
}

