/* src/components/ContaItem.css */

.conta-item {
    display: inline-block;  /* Isso força o elemento a ser exibido inline, mas ainda permite definir largura e altura */
    vertical-align: middle; /* Alinha verticalmente ao centro */
}

/* Certifique-se de que os outros elementos dentro de .conta-item também estejam alinhados corretamente */
.conta-item .conta-details,
.conta-item .conta-actions {
    display: inline-block;
    vertical-align: middle;
   
}

.conta-actions{
    margin-left: 20px; /* Ajuste o valor conforme necessário */

}

