/* Estilo para o formulário de contas */

.conta-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
}

.conta-form label {
  display: block;
  margin-bottom: 10px;
}

/* Estilo para inputs de texto e número */
.conta-form input[type="text"],
.conta-form input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
}

/* Estilo específico para labels de checkbox */
.conta-form label.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  /* Prevent flex items from wrapping */
  flex-wrap: nowrap;
}

/* Reduzir a margem para checkbox */
.conta-form input[type="checkbox"] {
  /* Remove margin and padding from checkbox */
  margin: 0;
  margin-right: 5px;
  /* Align the checkbox vertically */
  align-self: center;
}

/* Estilo para botões */
.conta-form button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.conta-form button:hover {
  background-color: #0056b3;
}

/* Estilo para o select */
.conta-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px; /* Espaço entre o checkbox e o texto */
}


.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* Espaço entre o checkbox e o texto */
}
