/* ProjetoSelectDialog.css */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    background: white;
    overflow: auto;
    WebkitOverflowScrolling: 'touch';
    borderRadius: '4px';
    outline: 'none';
    padding: '20px';
  }
  
  .overlay {
    position: 'fixed';
    top: '0px';
    left: '0px';
    right: '0px';
    bottom: '0px';
    backgroundColor: 'rgba(255, 255, 255, 0.75)';
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .select-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .select-button:hover {
    background-color: #0056b3;
  }
  