.table-lancamentos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-lancamentos th,
  .table-lancamentos td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-lancamentos th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .table-lancamentos tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-lancamentos tr:hover {
    background-color: #f1f1f1;
  }
  
  .table-lancamentos .checkbox-cell input {
    margin-left: 0; /* Centraliza a caixa de seleção na célula */
  }
  
  .icon-edit,
  .icon-remove {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .icon-edit:hover {
    color: #4c8bf5; /* Muda a cor do ícone de edição ao passar o mouse */
  }
  
  .icon-remove:hover {
    color: #f55c47; /* Muda a cor do ícone de exclusão ao passar o mouse */
  }
  