.lancamento-home {
    display: flex;
    height: 100vh;
}

.lancamento-home {
    display: flex;
    flex-direction: column; /* Muda a direção do flex para vertical */
    height: 100vh;
  }
  
  .lancamento-home > h2 {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; /* Ou qualquer outra cor de fundo que você prefira */
    margin-bottom: 0; /* Remove a margem padrão do h2 */
  }
  
  .lancamento-container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
    /* Restante do seu CSS */
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    /* Restante do seu CSS */
  }

/*.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
}*/

.sidebar {
  width: 300px; /* ou qualquer que seja a largura desejada */
  background-color: #f4f4f4;
  padding: 8px;
  border-right: 1px solid #ddd;
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  overflow-x: hidden; /* Previne rolagem horizontal */
}

.sidebar h2 {
    color: #333;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #ebebeb;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}


.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-group button {
    margin-left: 10px; /* Espaço entre os botões */
    padding: 10px 15px; /* Padding para aumentar a área de clique */
    border: 1px solid #ccc; /* Estilo de borda */
    background-color: #f7f7f7; /* Cor de fundo */
    color: #333; /* Cor do texto */
    cursor: pointer; /* Cursor de clique */
    border-radius: 4px; /* Bordas arredondadas */
    outline: none; /* Remover outline ao focar */
  }
  
  .button-group button:hover {
    background-color: #e2e2e2; /* Mudar a cor de fundo ao passar o mouse */
  }
  